.pixelsBlock {
    width: fit-content;
    flex-direction: column;
}

.pixelsRow {
    display: flex;
    flex-direction: row;
}

.pixel {
    width: 2vh;
    height: 2vh;
    border-radius: .4vh;
    margin: 0.4vh;
    background-color: rgb(0, 0, 0);
}
